

header {
	background-color: #003399;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #b3b3b3;
	order: -2;

}
h1 {
	font-size: 32px;
}

.tabs {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #D7DBDD;
	order:-1;
}

.tab {
	cursor: pointer;
    padding: 5px 30px;
    color: #16A2D7;
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

.tab.is-tab-selected {
    border-bottom-color: #4EBBE4;
 }

#currentpage {
	font-weight: bold;
}	

body {
	background-color: lightgray;
	display: flex; 
	order:1;
	flex-direction: column;
}

img { 
	size: 200px;
 }

footer {
	background-color: yellow;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	order:2;

}