html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

header {
	background-color: blue;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 125px;

}
h1 {
	font-size: 48px;
}

.tabs {
	background-color: red;
	display: flex;
	border-bottom: 1px solid #D7DBDD;
}

.tab {
	background-color: red;
	cursor: pointer;
    padding: 5px 30px;
    color: #16A2D7;
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

.tab.is-tab-selected {
    border-bottom-color: #4EBBE4;
 }

#currentpage {
	font-weight: bold;
}	

}

body {
	background-color: green;
	display: flex; 
}

footer {
	background-color: yellow;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;

}